<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />	
	<title><%= brewery.name %></title>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top" >
	<div class="container">
		<a href="/" class="navbar-brand">SUDZ</a>
		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav">
        			<li>
          				<a href="/contact/">Contact</a>
        			</li>
        			<li>
          				<a href="/about">About</a>
        			</li>
        			<li>
        				<a href="/search">Brewery Search</a>
        			</li>
      			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
<!-- 				if there is a current user, show these menu items
 -->				<% if (userId) { %>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/favorites">Favorites</a></li>
<!-- 				if there is no current user, show these menu items
 -->				<% } else { %>
				<li><a href="/login">Sign In</a></li>
				<li><a href="/signup">Sign Up</a></li>
				<% } %>
			</ul>
		</div>
	</div>
</div>
	<div class="container">
		<div class="jumbotron">
			<div class="row titles">
				<div class="col-xs-12">
					<h1><%= brewery.name %></h1></br>
<!-- 					if there are images, display them
 -->					<% if (brewery.images) { %><img src="<%= brewery.images.large %>"/><% } %>
				</div>
				</br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 titles">
				<% if (brewery.established) { %><h3>Established: <%= brewery.established %></h3><% } %></br>
				<h4><a href="<%= brewery.website %>" target="_blank"><%= brewery.website %></a></h4>
			</div>
			<div class="col-xs-6">
<!-- 				if no description exists, tell the user so
 -->				<% if (noDescription) { %>
				<p>No description found</p>
				<% } else { %>
				<%= brewery.description %>
				<% } %>
			</div>
			<div class="col-xs-3 titles">
<!-- 				allow the user to add the brewery to their favorites
 -->				<form method="POST" action="/favorites">
					<input type="hidden" name="brewery[breweryId]" value="<%= brewId %>">
					<input type="hidden" name="brewery[name]" value="<%= brewery.name  %>">
					<button type="submit" class="btn btn-info">Add to Favorites</button>
				</form>
<!-- 				<form method="POST" action="/bucketlist">
					<button type="submit">Add to List of Breweries to Visit</button>
				</form> -->
			</div>
		</div>
	</div>
</body>
</html>