<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Brewery Search</title>
</head>
<body>
	<h1>Search for Breweries:</h1>
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<form method="GET" action="/search">
 					<input type="text" name="name" placeholder="Find by name">
 					<button type="submit">Search</button>
				</form>
				<h1>Search Results:</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<% breweries.forEach(function(brewery) { %>
				<% if (brewery.images) { %>
				<img src="<%= brewery.images.icon %>">
				<% }; %>
				<h3><a href="/breweries/<%= brewery.id %> "><%= brewery.name %></a></h3>
				<p>Website: <a href="<%= brewery.website %>" target="_blank"><%= brewery.website %></a></p>
				<% }); %>
				<% if (noBreweries) { %>
				<p>No results found</p>
				<% } %>
			</div>
		</div>
	</div>
</html>